@model SubcategoryHomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sub Category</h2>

@Html.ActionLink("Add New Model", "Manage")
<hr />
<br />
<br />
<table class="table table-responsive table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
    </tr>

    @foreach (var m in Model.Subcategory)
    {
        <tr>
            <td>@m.Id</td>
            <td>@m.Name</td>
            @foreach (var b in Model.Category)
            {
                if (m.Fk_CategoryId== b.Id)
                {
                    <td>@b.Name</td>
                }
            }
            <td>
                @Html.ActionLink("Edit", "Manage", new { id = m.Id })
                |
                @Html.ActionLink("Delete", "Delete", new { id = m.Id })
            </td>
        </tr>
    }
</table>

