@using WEBCRAFT.MobileStore.Helper;
@model WEBCRAFT.MobileStore.ViewModels.ProductViewModels
@{
    ViewBag.Title = "Edit";
}
<h2>@ViewBag.Mode</h2>

@using (Html.BeginForm("Save", "Product", "post"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.product.Name)
        @Html.TextBoxFor(p => p.product.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(p => p.product.SellPrice)
        @Html.TextBoxFor(p => p.product.SellPrice, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @*@Html.DropDownListFor(p => p.product.FK_BrandId, new SelectList(Model.Brands, "Id", "Name"), "Select Category", new { @class = "form-control" })*@
        @Html.DropDownListWithAttributesFor(
        p => p.product.FK_CategoryId,
          new HtmlSelectListModel<Category>
          {
              DataObjects = Model.Brands,
              EmptyValueText = "- Select a Category-",
              SelectAttributes = new Dictionary<string, string>
              {
              { "Id", "selected-barand" }, { "Name", "product.FK_BrandId" }, { "class", "form-control" }
              },
              OptionAttributes = new Dictionary<string, string>
                                    {
                                        { "value", "Id" }, { "inner-text", "Name" }, { "data-selectedBrandId", "Id" }
                                    }
          })
    </div>
    <div class="form-group">
        @*@Html.DropDownListFor(p => p.product.FK_PartModelId, new SelectList(Model.PartModels, "Id", "Name"), "Select Model", new { @class = "form-control" })*@

        @Html.DropDownListWithAttributesFor(x => x.product.FK_SubcategoryId, new HtmlSelectListModel<Subcategory>
   {
       DataObjects=Model.PartModels,
       EmptyValueText="-Select Part Model-",
       SelectAttributes= new Dictionary<string, string>
       {
           {"Id","selected-Subcategory" },{"Name","product.FK_PartModelId" },{"class","form-control" }
       },
       OptionAttributes= new Dictionary<string, string>
       {
           {"value","Id" }, {"inner-text","Name" }, {"data-brandId","Fk_BrandId" }
       }
   })
        
    </div>

    @Html.HiddenFor(p => p.product.Id)
    <input type="submit" name="name" value="@ViewBag.Mode" class="btn btn-primary" />
    <input type="button" name="cancel" value="Cancel" class="btn btn-primary" onclick="" />


}
@section scripts {
    <script>
        $('#selected-Subcategory').find('option').css('display', 'none');
        $('#selected-barand').change(function () {

            console.log(this.value);
            $('#selected-Subcategory').val([0]);
            $('#selected-Subcategory').prop('selectedIndex', 0)
            $('#selected-Subcategory').find('option').css('display', 'none');
            $('option[data-brandId=' + this.value + ']').css("display", "");

            //$('#selected-customer').find('option').css('display', 'none');
            //$('option[data-logicalEntity=' + this.value + ']').css("display", "");
            //$('#selected-customer').val();
        });
    </script>
}
