@model WEBCRAFT.MobileStore.ViewModels.ProductViewModels
@{
    ViewBag.Title = "Edit";
}
    <h2>Create Or Edit Product </h2>

@using (Html.BeginForm("Save", "Product", "post"))
{
    <div class="form-group">
        @Html.LabelFor(p => p.product.Name)
        @Html.TextBoxFor(p => p.product.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
    @Html.LabelFor(p => p.product.SellPrice)
    @Html.TextBoxFor(p => p.product.SellPrice, new { @class = "form-control" })
    </div> 
    
    @Html.HiddenFor(p => p.product.Id)
    <input type="submit" name="name" value="submit"  class="btn btn-primary" />
}