@model WEBCRAFT.MobileStore.ViewModels.ProductsHomeViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Products </h2>

@Html.ActionLink("New Product", "Edit", "Product")
<hr />
<br />
<br />
<table class="table table-responsive table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Price</th>
        <th>Actions </th>
    </tr>


    @foreach (var p in Model.Products)
    {
        <tr>

            <td>@p.Id</td>
            <td>@p.Name</td>
            @{var pBrand = (p.FK_CategoryId != 0) ? Model.Brands.Where(b => b.Id == p.FK_CategoryId).FirstOrDefault().Name : "---";}
            @{var pModel = (p.FK_SubcategoryId != 0) ? Model.PartModels.Where(m => m.Id == p.FK_SubcategoryId).FirstOrDefault().Name : "---"; }
            <td>@pBrand</td>
            <td>@pModel</td>

            @*@foreach (var brand in Model.Brands)
                {
                    if (p.FK_BrandId == brand.Id)
                    {
                        <td>@brand.Name</td>
                    }
                }*@
            @*@foreach (var m in Model.PartModels)
                {
                    if (p.FK_PartModelId == m.Id)
                    {
                        <td>@m.Name</td>
                    }
                }*@


            <td>@p.SellPrice</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = p.Id })
                |
                @Html.ActionLink("Delete", "Delete", new { id = p.Id })

            </td>
        </tr>
                }

</table>
