@model WEBCRAFT.MobileStore.ViewModels.BrandsHomeViewModel
@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Brands</h2>'
<h3>@Html.ActionLink("+ Add new brand ", "Manage")</h3>
<table class="table table-responsive table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>

    @foreach (var brand in Model.Brands)
    {
        <tr>
            <td>@brand.Id</td>
            <td>@brand.Name</td>
            <td>
                @Html.ActionLink("Edit", "Manage", new { id = brand.Id })
                |
                @Html.ActionLink("Delete", "Delete", new { id = brand.Id })
            </td>
        </tr>
    }
</table>

