@model CategoriesHomeViewModel
@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Category</h2>'
@Html.ActionLink("Add new brand ", "Manage")
<hr />
<br />
<br />

<table class="table table-responsive table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach (var category in Model.Categories)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>
                @Html.ActionLink("Edit", "Manage", new { id = category.Id })
                |
                @Html.ActionLink("Delete", "Delete", new { id = category.Id })
            </td>
        </tr>
    }
</table>

<div class="pager">
</div>

@Html.Action("Index", "PartModel");
